button {
    background-color: burlywood;
    color:purple;
}
p{
    color:white;  
    font-family: 'Arial Narrow Bold';
    
    
}
img{
   border: 3px solid #f1f1f1;
   border-radius: 50%;     
}
.userinfo{
    font-family: 'Arial Narrow Bold';
    margin-left:500px;
    margin-top:-55px; 
}
div p {
    margin-left:150px;
}
div a {
    margin-left:150px;
}
a :hover{
     color:yellowgreen;
}
