<p>
 Here you can enter any users you know from Github and be able to see their repository created.
</p>

<div class="container-fluid">
  <div class="row">
    <form>
      <div class="form-group">

      <label for="uname"></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
      <!--<button (click) = 'search(true)'> Search</button>-->
      <button type="Submit" >Search</button>


      <blockquote>
          <br><img src="{{user.avatar_url}}">
          <p>{{user.name}}</p>
          <p>{{user.followers}}</p>
          <p>{{user.following}}</p>
          <p>{{user.location}}</p>
          <p>{{user.html_url}}</p>
        
          <!--<footer><cite>{{user.location}}</cite></footer>-->
      </blockquote>


      </div>
    </form>
  </div>
</div>
